.center {
  text-align: center;
  display: block;
  margin: 0 auto

}
.leftbox {
  float: left;
  width: 300px;
    border: 3px solid #000000;
    padding: 10px;
}
.box {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 300px;
    border: 3px solid #000000;
    padding: 10px;
  }
.rightbox {
      float: right;
      width: 300px;
        border: 3px solid #000000;
        padding: 10px;
    }
.button {
	display: block;
	border-radius: 4px;
	background-color: #F100FF; /* purple */
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    height: 66px;
    width: 199px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
body {
  background-image: linear-gradient(45deg, #83bee6 ,#9cc9e0);
height: 1080px;
}

h1 {
  font-family: 'Patua One', cursive;
}
a {
    font-family: 'Karla', sans-serif;
    background-color:#5e5d5d;
}

li {
  font-family: 'Karla', sans-serif;
  background-color:#5e5d5d;
}

p {
  font-family: 'Karla', sans-serif;
  background-color:#5e5d5d;
}


h2 {
  font-family: 'Karla', sans-serif;
}
